body  {
  background-color: #0e0e0e;
}
nav li {
  display: inline-block;
}
.HeaderContainer{
  height:69px;
  padding: 5px;
  z-index:5;
  background-color: #0e0e0e;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;}
.pad{}
.pad img{margin-top: 10px;}
#Mission #MissionStatement{
    position: relative;
    width: 100%;
    margin: auto;
    background: #0e0e0e;}
#Mission{
  display: flex;
  margin: 0 auto;
height:700px;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
width:1200px;}
.Menu{display: block;
margin: 0 auto;
height:700px;
width:1200px;}
.MenuBox{
  display: block;
  width:1000px;
margin: 0 auto;}
.row2{
  margin-left: 275px;
  margin-right: 275px;
  padding-top: 10px;
  margin-top: 7.5%;
  text-align: center;

  display:flex;
  justify-content: space-between;
  }
.row1{text-align: center;

  display:flex;
  justify-content: space-between;
  }
.tea-square{height:200px;
width:auto;}
.container{text-align: center;}
nav{text-align: right;
}
nav a{
  text-decoration: underline;
  color:white;
  opacity:0.9;
  font-family: Helvetica;
  font-size:22px;
}
p{
color:white;
opacity:0.9;
font-family: Helvetica;
font-size:22px;
font-size:22px;
color:seashell;}
h5{color:white;
opacity:0.9;
font-family: Helvetica;
font-size:22px;
text-align: center;
font-size:22px;
color:seashell;}
h4{color:white;
opacity:0.9;
font-family: Helvetica;
font-size:22px;
text-align: center;
font-size:22px;
color:seashell;}
h3{color:white;
opacity:0.9;
font-family: Helvetica;
font-size:22px;
text-align: center;
font-size:22px;
color:seashell;}
h2{color:white;
opacity:0.9;
font-family: Helvetica;
font-size:22px;
text-align: center;
font-size:22px;
color:seashell;}
#Footer{text-align: left;}
#Locations{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");

display:inline-flex;
display: flex;
margin: 0 auto;
height:700px;
width:1200px;}
#LocationsContainer{
  opacity:1;
  display: flex;
margin: 0 auto;
height:700px;
width:1200px;}
.location-square{
position: relative;
width: 300px;
margin: auto;
background-color: #0e0e0e;
height: 200px;
width: 300px}
